on:
  push:
  pull_request:

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: psf/black@stable
        with:
          options: "--check --verbose"

  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: |
          python -m pip install --upgrade pip
          pip install pylint

      - run: |
          pylint $(git ls-files '*.py')
